<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="aboutus">About Us</a> |
        <a href="contactus">Contact Us</a> |
        <a href="feedback">Feedback</a> |
        <a href="login">Login Page</a> |
    </div>
    <hr/>
    <h2>Welcome to Django with Python using External template page</h2>
    <p>User is {{name}} and he is {{desg}}</p>
</body>
</html>